<div class="col-11 col-lg-6">
    <div class="card card-form container-sm"><p id="notice"><%= notice %></p>

    <% @profiles.each do |profile| %>
      <% if profile.user == current_user %>
          <h1><%= current_user.profile.first_name %>'s Profile</h1>
        
          <p>Hi!  I'm <%= profile.first_name %> <%= profile.last_name %>.  Welcome to my profile!</p>
          <%#= profile.user_id %>
         
      
      <% end %>
    <% end %>


<% @profiles.each do |profile| %>
  <% if profile.user == current_user %>
    <div>
      <%#= link_to 'Show', profile, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_profile_path(profile), class: "btn btn-primary" %>
      <%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>

</div>
</div>
