<div class="container main">
    <h1>About</h1>
    <p>This is a test website</p>
</div>

<tbody>
      <% @blog_posts.each do |blog_post| %>
        <% if blog_post.user == current_user %>
        <tr>
          <td><%= blog_post.title %></td>
          <td><%= blog_post.body %></td>
          <td><%= link_to 'Show', blog_post, class:'btn btn-light' %></td>
          <td><%= link_to 'Edit', edit_blog_post_path(blog_post), class:'btn btn-light' %></td>
          <td><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>