<div class="card card-form">
  <h2>Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mb-3">
    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "email" %>
    </div>

    <div class="field mb-3">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: "form-checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary m-3 ms-0" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

  
</div>
